body {
    text-align: center;
    font-family: sans-serif;

    background-color: #227ba0;
}

header {
    align-items: center;
}

.nav-bar ul {
    gap: 20px;
}

.canvas-container {
    /* background-color: #000; */
}

canvas {
    display: block;

    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);

    background-color: whitesmoke;
    width: 55vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gallery {
    grid-column: 1 / -1;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.editor {
    display: contents;
}

.controls {
    background-color: #46eeeb;

    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);

    padding: 10px;

    display: grid;
    grid-template-columns: 100px 1fr;
    /* gap: 12px 16px; */
    align-items: center;

    > #dwn-link{
        grid-column: 1 / -1;
    }
}

.hidden {
    display: none;
}

/* HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.column {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }
}